################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStoreCoreApp/.vs/BookStoreCoreApp
/BookStoreCoreApp/BookStoreCoreApp/bin/Debug/netcoreapp3.1
/BookStoreCoreApp/BookStoreCoreApp/obj
